.btn {
  display:block;
  background-color: $mainRed;
  padding: 14px 28px;
  width: 195px;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  margin-top: 8%;
  

  &--large-hero {
    position: absolute;
    left: 29%;
    transform: translateY(-50%);
    color: $fontGrey;
    background-color: #fff;
    -webkit-text-fill-color: #2b2b2b;
    box-shadow: 0 0 27px #000;
    margin-top: 4%;
  }

}